{% extends 'base.html.twig' %}

{% block title %}Partenaires FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-2">
                <img src="{{ asset('images/image_accueil.png') }}" alt="Eienne jouant du handpan">
            </div>
            <div class="col-md-8 pt-1 text-center">
                <p> bla bla</p>
            </div>
        </div>
    </div>
    <p></p>
    {% include 'home/_footer.html.twig' %}

{% endblock %}
{#  TODO Faire la page partenaires#}