{% extends 'base.html.twig' %}

{% block title %}Livre d'or - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="container text-j">
        <div class=" ">
            <div class="row pt-2 livre">
                <p></p>
                <p></p>
                {% for comment in commentaires %}
                    <div class="col-sm-4 offset-sm-1 commentaire">
                        <p style=" text-align: justify;"> {{ comment.message }}</p>
                        <p class="text-end fst-italic"> {{ comment.prenom }} - {{ comment.age }} ans</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
