{% if not is_mobile() %}
{% include 'home/_locker.html.twig' %}
{% endif %}
    <div class="banniere row ">

        <div class="col-4 offset-1 col-md-2 offset-md-1 text-center mt-3">
            <a href="{{ path('app_home') }}">
                <img class="img-fluid" src="{{ asset('images/logos/logo2.png') }}"
                                                   width='200'
                                                   height='230' alt="Logo FAO Travel">
            </a>
        </div>
        <div class="align-content-center col-6 col-md-9  mt-2">
            <h1 class="titre text-center" style="font-family: font-family-serif,serif;  ">FAO TRAVEL</h1>

            <h3 class="text-center ">Musique, Animation</h3>
            <h3 class="text-center">& Bien-être</h3>
        </div>
        <hr class="col-12 d-sm-none">
    </div>
