<div class="div container bg-primary    ">
    <div class="h5 text-secondary">Contacts :
        <h6>Mail : barbapapan25@gmail.com</h6>
        <h6>Facebook : Etienne Salmon</h6>
        <h6>Youtube : Etienne Salmon</h6>
        <h6>Instagram : Etienne Salmon TDM</h6>
        <h6>Tik tok : Barbapapan</h6>
    </div>
</div>