<div class="bg-dark mt-3 rounded-2 p-2">
    <div class="row ">
        <div class="col-md-6">
            <div class="mb-2 text-secondary">
                <p>Contacts :</p>
                <p class="text-secondary pied">
                    <span class="fw-bold">Mail : </span> **** <br> {# TODO Formulaire de contact #}
                    <span class="fw-bold">Facebook : </span>{{ facebook }}<br>
                    <span class="fw-bold">Youtube : </span>{{ youtube }}<br>
                    <span class="fw-bold">Instagram : </span>{{ instagram }}<br>
                    <span class="fw-bold">Tik tok : </span>{{ tiktok }}</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-2 text-secondary">
                <p class="fs-5">Partenaires :</p>
                <p class="text-secondary pied">
                    <span class="fw-bold">Gilles Salmon</span> - 57050 METZ<br>
                    <span class="fw-bold">Ederod Handpan</span> - 25000 BESANÇON<br>
                    <span class="fw-bold">Ecolojo</span> - 88530 LA FORGE<br>
                </p>
            </div>
        </div>
    </div>
    <div class="row text-center text-secondary pied">
        <p>© Gilles SALMON - 2022</p>
    </div>
</div>