<div class="container bg-primary">
    <div class="row">
        <div class="col-md-6">
            <div class="h5 mb-2 text-secondary">
                <h1>Contacts :</h1>
                <h6>Mail : barbapapan25@gmail.com</h6>
                <h6>Facebook : Etienne Salmon</h6>
                <h6>Youtube : Etienne Salmon</h6>
                <h6>Instagram : Etienne Salmon TDM</h6>
                <h6>Tik tok : Barbapapan</h6>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h5  mb-2 text-secondary">
                <h1>Partenaires :</h1>
                <h6>Gilles Salmon - 57050 METZ</h6>
                <h6>Ederod Handpan 25000 BESANÇON</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center text-secondary">© Gilles SALMON - 2022</div>
</div>