<div class="container bg-dark mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-2 text-secondary">
                <p>Contacts :</p>
                <p class="text-secondary pied">
                    <span class="fw-bold">Mail : </span> **** <br> {# TODO Formulaire de contact #}
                    <span class="fw-bold">Facebook : </span>{{ facebook }}<br>
                    <span class="fw-bold">Youtube : </span>{{ youtube }}<br>
                    <span class="fw-bold">Instagram : </span>{{ instagram }}<br>
                    <span class="fw-bold">Tik tok : </span>{{ tiktok }}</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-2 text-secondary">
                <p class="fs-5">Partenaires :</p>
                <p class="text-secondary pied">
                    Gilles Salmon - 57050 METZ<br>
                    Ederod Handpan 25000 BESANÇON</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12text-center text-secondary pied">© Gilles SALMON - 2022</div>
    </div>
</div>
