{% if is_granted('ROLE_ADMIN') %}
<a href="{{path('admin')}}"><img src="{{ asset('images/logos/unlock.webp') }}" width='20' height='30' style="
   display: inline-block;
   float: right;
   z-index: 3;
   position: absolute;
   right: 5px;
   top: 5px;" alt="icon de connexion"> </a>
{% else %}
<a href="{{path('admin')}}"><img src="{{ asset('images/logos/lock.webp') }}" width='20' height='30' style="
   cursor: not-allowed;
   display: inline-block;
   float: right;
   z-index: 3;
   position: absolute;
   right: 5px;
   top: 5px;" alt="icon de connexion"> </a>

{% endif %}
