<div class="div container bg-primary    ">
    <div class="p text-secondary">Contacts :
        <p>Mail : barbapapan25@gmail.com</p>
        <p>Facebook : Etienne Salmon</p>
        <p>Youtube : Etienne Salmon</p>
        <p>Instagram : Etienne Salmon TDM</p>
        <p>Tik tok : Barbapapan</p>
    </div>
</div>