<div class="div container bg-primary    ">
    <div class="p text-secondary">Contacts :
        Mail : barbapapan25@gmail.com
        Facebook : Etienne Salmon
        Youtube : Etienne Salmon
        Instagram : Etienne Salmon TDM
        Tik tok : Barbapapan
    </div>
</div>