{% extends 'base.html.twig' %}

{% block title %}Hello FAO TRAVEL !{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link"  href="#{#  {{ path('film_index') }}#}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#{#  {{ path('film_index') }}#}">Trajet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Carnet de voyage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Musique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Animation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Bien-être</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Presse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Partenaires</a>
                </li>
            </ul>
        </div>

    </nav>

{% endblock %}
