<div class="container">
    <div class="row">
        <div class="col-md-2 offset-1">
            <img src="{{ asset('images/logo2.png') }}" width='200' height='230' alt="Logo FAO Travel">
        </div>
        <div class="col-md-9    ">
            <h3 class="text-center"></h3>
            <h1 class="text-center  font-family-serif" style="font-family: font-family-serif,serif; font-size: 7rem">FAO
                TRAVEL</h1>
            <h3 class="text-center">Musique, Animation</h3>
            <h3 class="text-center">& Bien-être</h3>
        </div>
    </div>
    <nav class="nav navbar-nav navbar-expand-md nav-tabs navbar-dark bg-primary flex-column flex-sm-row mt-3">
        <a class="flex-sm-fill text-sm-center nav-link " aria-current="page" href="#">Accueil</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="#">Trajet</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Carnet de voyage</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Musique</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Animation</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Bien-être</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Projets</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Presse</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="#">Partenaires</a>
    </nav>
</div>