{% extends 'base.html.twig' %}

{% block title %}Animation - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-5 align-self-center">
            <img src="{{ asset('images/animation/animation.jpg') }}" width="100%" alt="Animation avec un groupe d'enfants">
        </div>
        <div class="col-md-7 align-self-center"  style=" text-align: justify;">
            <p>Titulaire d’un BP JEPS Animation Sociale, du BAFA, du BAFD et
                avec mes nombreuses années
                d’expériences avec tous les publics
                (enfants, adolescents, adultes, personnes âgées, personnes handicapées), j’ai la possibilité
                d’adapter toutes mes animations en fonctions des effectifs,
                de la durée, du lieu et du budget.</p>
            <p> J’ai déjà travaillé avec des écoles, des collèges, des accueils de
                loisirs, des ehpad, des maisons
                de retraite et même un centre équestre !
            </p>
        </div>
    </div>
    <div class="mt-3 align-self-center">

        <table class="table table-secondary">
        <thead>
        <tr>
            <th scope="col">Animations</th>
            <th scope="col">Durée</th>
            <th scope="col">Effectifs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Séance découverte et initiation au Handpan</td>
            <td>1h</td>
            <td>3-9 pers.</td>
        </tr>
        <tr>
            <td>Blind-test au Handpan</td>
            <td>30 min</td>
            <td>3-12 pers.</td>
        </tr>
        <tr>
            <td>Atelier de création d’instruments avec des objets recyclés*</td>
            <td>2h</td>
            <td>6 pers. Mini</td>
        </tr>
        <tr>
            <td>Séance découverte et initiation à la MAO (Musique Assistée par Ordinateur)</td>
            <td>4h</td>
            <td>2-4 pers.</td>
        </tr>
        </tbody>
        </table>
        <p class="small bg-light px-1">*objets recyclés à fournir, la liste vous sera envoyée en même temps que le devis</p>
    </div>
{% endblock %}
