@import './fonts.googleapis.css';

#calendar-holder {
  font-family: "Muli", sans-serif;
  width: auto;
  margin: 0 auto;
}

.fc-toolbar h2,
.fc th {
  font-weight: inherit;
}

#calendar-container {
  position: fixed;
  width: 100%;
}
