{% extends 'base.html.twig' %}

{% block title %}Nouveau P.O.I.{% endblock %}

{% block body %}
    <h1>Créer un nouveau P.O.I.</h1>

    {{ include('_partials/_form.html.twig') }}

    <a href="{{ path('app_new_event') }}">Retour à la liste</a>
{% endblock %}
