{% extends 'base.html.twig' %}
{# TODO Mentions légales #}
{% block title %}FAO TRAVEL - Mentions légales{% endblock %}
{% block body %}
    {#    <div class="row d-none d-lg-flex "> #}
    <div class="row small">
        <h1 class="text-center">Mentions légales</h1>
        <hr class="m-1">
        <hr>
        <div>
            <h2>Propriétaire / Éditeur</h2>
            <p> "FAO Travel" est un site web édité par "FAO Travel" et publié sous la direction
                de Gilles SALMON (Webmaster).</p>

            <p> L’ensemble du site "FAO Travel", pages et contenus, est la propriété de "FAO Travel".</p>

            <p> Pour plus d’informations sur la société, reportez-vous au site <a
                        href="{{ absolute_url('https://fao-travel.fr') }}">fao-travel.fr</a>.</p>
            <br>

            <p> Contact administratif du site "FAO Travel" : barbapapan @ gmail.com.</p>
        </div>
        <hr>
        <div>
            <h2>Hébergeur</h2>
            <p> "FAO Travel" est hébergé par o2switch. Pour plus d’informations, reportez-vous au site :
                <a href="{{ absolute_url('https://www.o2switch.fr/') }}">www.o2switch.fr</a></p>
            <p> Pour les contacter, utilisez le formulaire : <a href="https://www.o2switch.fr/support-hebergeur/">www.o2switch.fr/support-hebergeur/</a>.
            </p>
            <p>"FAO Travel" décline toute responsabilité quant aux éventuelles interruptions du site "FAO Travel".
            </p>
        </div>
        <hr>
        <div>
            <h2>Concepteur / Créateur</h2>
            <p>Le site "FAO Travel" a été créé par Gilles SALMON sur une maquette d'Étienne SALMON.</p>
        </div>
        <hr>
        <div>
            <h2>Fonctionnement du site</h2>
            <p>Les pages et le contenu de ce site sont générés par le framework Symfony, distribué sous licence MIT.

            <p>Vous pouvez l’utiliser librement pour réaliser votre propre site web. Pour plus d’informations,
                reportez-vous au site : <a href="{{ absolute_url('https://symfony.com/') }}">symfony.com</a>.</p>


            <p>En application des articles L. 111-1 et L. 123-1 du Code de la Propriété Intellectuelle, l’ensemble
                des
                contenus de ce site (textes, images, vidéos et tout média en général), sauf mention contraire
                explicite,
                est
                protégé par le droit d’auteur. La reproduction, même partielle, des contenus des pages de ce site
                sans
                accord préalable de "FAO Travel" est strictement interdite.</p>
        </div>
    </div>
    {#    </div> #}{# ordi #}

    {#    <div class="row d-lg-none"> #}
    {#        <div class="row"> #}
    {#           #}
    {#        </div> #}
    {#    </div> #}{# tél #}
{% endblock %}
