// Default variable overrides
$primary: #000;
$secondary: #d57735;
$body-bg: #fadcaf;
$body-color: #422608;
//$bs-heading-color: #000;
$font-family-monospace: 'Libre Bodoni', serif;
//
//$h6-font-size:  0.5rem !important;
//
.pied{
    font-weight: 100 !important;
    font-size: 12px !important;
    color: $secondary !important;
}