{% extends 'base.html.twig' %}

{% block title %}Bien-être - FAO TRAVEL !{% endblock %}
{% block body %}
        <div class="row ">
            <div class="col-md-4 offset-md-1">
                <div class="card m-3  ">
                    <a href="{{ path('app_relaxation') }}" class="btn btn-secondary stretched-link  rounded-0 ">Relaxation
                        vibratoire</a>
                    <img src="{{ asset('images/bienetre/relaxation.jpeg') }}" style="width: 100%; height: 250px;"
                         alt="Illustration pour la Relaxation.">
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="card m-3">
                    <a href="{{ path('app_massage') }}" class="btn btn-secondary stretched-link  rounded-0 ">Massage californien</a>
                    <img src="{{ asset('images/bienetre/massage.jpg') }}" style="width: 100%; height: 250px;" alt="Illustration pour le Massage">
                </div>
            </div>
        </div>
    <div class="border border-primary pt-2 mb-3 rounded-5 bg-secondary">
        <div class="mx-5 pt-1">
            <div class="fw-bold row ">
                <div class="col">
                    DECOUVERTE VIBRATOIRE
                </div>
                <div class="col">
                    Durée : 10 minutes
                </div>
                <div class="col">
                    Tarif : 10 €
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Déroulement :
                </div>
                <div class="col-10">
                    Lors de cette séance, je vous accompagne verbalement afin de vous détendre pendant quelques
                    minutes puis je vais jouer sur l’instrument qui sera posé sur votre dos.
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Bienfait :
                </div>
                <div class="col-10">
                    Diminution du stress, récupération en énergie.
                </div>
            </div>
        </div>
        <div class=" mx-5 pt-5">
            <div class="row fw-bold ">
                <div class="col">
                    RELAXATION VIBRATOIRE
                </div>
                <div class="col">
                    Durée : 30 minutes
                </div>
                <div class="col">
                    Tarif : 25 €
                </div>
            </div>
            <div class="row ">
                <div class="col-2">
                    Déroulement :
                </div>
                <div class="col-10">
                    Lors de cette séance, je vous accompagne verbalement afin de vous détendre pendant quelques
                    minutes. Ensuite, je vais jouer sur l’instrument qui sera posé sur votre ventre, puis sur votre dos.
                    Je
                    finirai par jouer à côté de vous, de manière à ce que votre corps, par empreinte sonore puisse
                    continuer
                    à se relaxer.
                </div>
            </div>
            <div class="row ">
                <div class="col-2">
                    Bienfait :
                </div>
                <div class="col-10">
                    Relâchement mental, diminution du stress, récupération en énergie, meilleure qualité du sommeil et
                    de
                    la digestion.
                </div>
            </div>
        </div>
        <div class=" mx-5 pt-5 pb-1">
            <div class="row fw-bold ">
                <div class="col">
                    SEANCE BIEN-ÊTRE
                </div>
                <div class="col">
                    Durée : 60 min
                </div>
                <div class="col">
                    Tarif : 50 €
                </div>
            </div>
            <div class="row ">
                <div class="col-2">
                    Déroulement :
                </div>
                <div class="col-10">
                    Cette séance vous propose un massage californien (tête, dos, bras, mains, jambes et pieds) avec
                    une huile 100 % naturelle, dans une ambiance sonore de Handpan. Ensuite, je continuerai avec la
                    séance
                    de
                    RELAXATION VIBRATOIRE.
                </div>
            </div>
            <div class="row ">
                <div class="col-2">
                    Bienfait :
                </div>
                <div class="col-10">
                    Relâchement musculaire et mental, diminution du stress, récupération en énergie, meilleure qualité
                    du
                    sommeil et de la digestion.
                </div>
            </div>
        </div>
    </div>
    {% include 'home/_footer.html.twig' %}

{% endblock %}
