{% extends 'base.html.twig' %}

{% block title %}Massage FAO TRAVEL !{% endblock %}

{% block body %}
    {% include 'home/_flash.html.twig' %}
    {% include 'home/_menu.html.twig' %}
        <div class="row mb-3">
            <div class="col-md-4 pt-2">
                <img src="{{ asset('images/bienetre/massage.jpg') }}" alt="">
            </div>
            <div class="col-md-8 pt-1 text-center align-self-center">
                <p> bla bla</p>
            </div>
        </div>
    {% include 'home/_footer.html.twig' %}

{% endblock %}