{% extends 'emails/basemail.html.twig' %}

{% block body %}
	{{ parent() }}
    <h3>Nouveau message venant du site !</h3>

    {{ prenom }} a posté un message sur le site.<br/>
    et attend une réponse.

    <a href=" {{ absolute_url(postUrl) }}"> Lien vers le commentaire</a>




{% endblock %}
