{% extends 'emails/basemail.html.twig' %}

{% block body %}
	{{ parent() }}
    <h3>Commentaire à valider !</h3>

    {{ prenom }} a posté un commentaire sur le site.<br/>
    et attend qu'il soit validé.

    <a href=" {{ absolute_url(postUrl) }}"> Lien vers le commentaire</a>
    <hr>
    <h3>Le message :</h3>
    <div><i>{{ message }}</i></div>
{% endblock %}
