{% extends 'emails/basemail.html.twig' %}

{% block body %}
    <h3>Commentaire à valider !</h3>
    {{ dump(postUrl) }}

    {{ prenom }} a posté un commentaire sur le site.<br/>
    et attend qu'il soit validé.

    <a href=" {{ absolute_url(postUrl) }}"> Lien vers le commentaire</a>
{% endblock %}
