{% extends 'base.html.twig' %}

{% block title %}Test FAO TRAVEL !{% endblock %}
{% block body %}

    <div class="h1 text-center">Test 1</div>

    {% set comment  = commentaires[0] %}
    <div class="col-sm-3 offset-3">
        <div class="bg-image" style="background-image: url('/images/livre/yellow-post-it.png');">
            <div class="p-5">
                <p style=" text-align: justify" class="text-wrap"> {{ comment.message }}</p>
                <p class="text-end fst-italic"> {{ comment.prenom }} - {{ comment.age }} ans</p>
            </div>
        </div>
    </div>

{% endblock %}

