{% extends 'base.html.twig' %}

{% block title %}Test FAO TRAVEL !{% endblock %}
{% block body %}

    <div class="row d-none d-lg-flex ">

    </div>{# ordi #}

    <div class="row d-lg-none">
        <h1 class="text-center">Musique</h1>

    </div> {# tél #}
{% endblock %}
