{% extends 'base.html.twig' %}

{% block title %}Test FAO TRAVEL !{% endblock %}
{% block body %}

    <div class="h1">Test 1</div>

    <main id="swup">
        <div class="container">
            <div class="row">
            <div>{{ render_chart(chart) }}</div>
                <div class="col-md-4 pt-2">
                    <img src="{{ asset('images/accueil/accueil.jpeg') }}" width="100%" alt="Etienne jouant du handpan">
                </div>
                <div class="col-md-8 pt-1 text-center align-self-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut fugit in iste iure modi qui
                        quibusdam sed, sit sunt! Dicta doloribus inventore mollitia sed. Dicta fuga incidunt odit
                        perferendis? </p>
                </div>
            </div>
        </div>
    </main>
    </body>



{% endblock %}

