{% extends 'base.html.twig' %}

{% block title %}Presse FAO TRAVEL !{% endblock %}
{% block body %}
    {% include 'home/_flash.html.twig' %}
    {% include 'home/_menu.html.twig' %}
    <div class="d-flex justify-content-between">
        <div class="p-2">{{ article.reference }}</div>
        <div class="p-2">{{ article.publishedAt | format_date ('full', locale='fr') }}</div>
    </div>
    <img src="/{{ article.media }}" style="width: 100%; height: 100%;" alt="...">


    {% include 'home/_footer.html.twig' %}

{% endblock %}
