{% extends 'base.html.twig' %}

{% block title %}Projets - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="row ">
        {% for projet in projets %}
            <div class="col-sm-6">
                <div class="card mb-3 text-bg-secondary" style="height: 330px">
                    <div class="row g-0">
                        <div class="col-md-4 p-lg-3 ">
                            <img src="{{ projet.image }}" class="img-fluid rounded-start " alt="{{ projet.titre }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{#align-self-center#}
